<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/myStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<footer>
    <div id="about">
        <div id="imgAbout">
            <img src="images/footer1.png">
        </div>
        <div id="txtForAbout">
            <h1>More about us</h1>
            <br>
            <h3>A life of happiness for your kids</h2>
                <br>
                <h5>Welcome to ‘Toy Store’ – your #1 hotspot for brilliant toys, infant items, diversions, kids books and
                    music, stationary utilities and more. We’re committed to giving you the plain best with an attention
                    on most astounding quality, unwavering quality, client administration and uniqueness.</h5>
                <br>
                <h2 id="contact"><a href="#getInTouch">Contact</a></h2>
        </div>
    </div>
    <div id="getInTouch">
        <div id="imgGit">
            <img src="images/footer2.png">
        </div>
        <div id="txtForGit">
            <h1>Contact Us</h1>
            <br>
            <h4>15 Dong Quan, Quan Hoa, Cau Giay, Ha Noi</h4>
            <br>
            <h4>namvhgch18692@fpt.edu.vn</h4>
            <br>
            <h4>19008198</h4>
            <a href="https://www.facebook.com/vunam2000" class="fa fa-facebook"></a>
            <a href="https://twitter.com/explore" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/pluu1911/" class="fa fa-instagram"></a>
        </div>
</footer>