<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/myStyle.css">
    <script src="js/myScripts.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<header>
    <div class="jumbotron text-center" style="padding: 89px 32px; margin-bottom: 0">
        <br><br><br><br><br>
        {{!-- <h1 class="headerToy">Toy Management</h1>
        <h1 class="headerToy">System</h1> --}}
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <center>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/insert">Add Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/show">Show Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search">Search Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#getInTouch">Contact</a>
                    </li>
                </ul>
            </center>
        </div>
    </nav>
</header>

</html>